body, p, li, td, div, blockquote, select {
	font-family: arial,helvetica,sans-serif; 
	font-size: 16pt; 
	color: #000000;
}

li {line-height: 1.25em; padding: 0.25em 0 0.3em 4px}

a:link, a:visited, a:active { 
	text-decoration: none; 
	color: blue;
}

h3
{
	text-align: center;
	font-style: bold;
	font-family: arial,helvetica,sans-serif;
	font-size: 1.2em;
}

p {margin-left: 20px; top: 0px; bottom: 0px;}

ol {margin-left: 30px;}

.header_title
{
	margin-center: 0px;
	font-weight: bold;
}

.small {font-size: small;}

.indent {text-indent: 200em;}

li.list {line-height: 2.25em; padding: 10.5em 0 0.3em 4px}
p.indent 

p.indent2 {text-indent: 20em: margin:2em 0 2em 0;}

p.center {text-align: center}